name: Build
on: [push]
jobs:
  build:
    strategy:
      matrix:
        os: [macos-11, ubuntu-22.04, windows-2022]
        addrsize: ["64"]
        archive-format: ["tzst"]
        python-architecture: ["x64"]
##      As of 2023-05-17, the autobuild package produced by either "tbz2" or "tgz"
##      is unreadable by the Python 3.10 or 3.11 tarfile module. But as the "tzst"
##      issue remains with 32-bit Python, use 64-bit Python for all platforms.
##      include:
##        - os: windows-2022
##          addrsize: "32"
##          # workaround for zstandard/pyzstd memory issues on 32-bit
##          # pyzstd.ZstdError: Unable to compress zstd data: Allocation error : not enough memory
##          archive-format: "tbz2"
##          python-architecture: "x86"
    continue-on-error: false
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/setup-python@v5
        with:
          # 2023-10-31: Python 3.12 drives an eventlet bug
          # https://github.com/eventlet/eventlet/issues/795
          python-version: "3.11"
          architecture: ${{ matrix.python-architecture }}
      - name: Install Python packages
        run: pip3 install -U eventlet llbase pytest PyInstaller requests
      - uses: secondlife/action-autobuild@v4
        with:
          addrsize: ${{ matrix.addrsize }}
          archive-format: ${{ matrix.archive-format }}
          setup-python: false
  release:
    needs: build
    runs-on: [ubuntu-latest]
    if: startsWith(github.ref, 'refs/tags/v')
    steps:
      - uses: secondlife/action-autobuild-release@v3
        with:
          public: true
